html, body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }
  .flex-container{
    display:flex;
    justify-content:flex-end;
  }
  a{
    flex-wrap:wrap;
    box-sizing: border-box;
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    text-decoration-line: none;
  }
  #project{
    border: 2px solid red;
    background-color: #ee0000;
  }
  #contact{
    border: 1px dashed red;
    background-color: red; 
    padding: 10px;
    margin: 25px;
    font-size:30px;
  }
  .me{
    
    font-size: 26px;
    position:absolute
  }
  
  img{
  display: inline-block; 
    position: relative;
    margin-bottom: 100px;
    width: 550px;
  }
  
   nav{
    border: 1px solid grey;
    padding:20px;
    background-color: grey;
  } 
  header{
    padding: 5px;
    margin: 2px;
  }
  footer{
    color:red;
    padding:10px;
    text-align:center;
  }